/*Main Navigation*/
li {
  background : orange;
  display : inline;
  list-style : none;
  padding : 20px 10px;
  margin : 10px 5px;
}

a {
  color : red;
  font : 24px sans-serif bold ;
  letter-spacing : 2px;
  text-transform : uppercase;
  text-decoration : none;
}

li:hover{ 
  background : blue;
  color : #fff;
}